@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: roboto, sans-serif; 
    background: url('grão_café_png_-_Imagem__clipart__grátis-removebg\ 1.svg') no-repeat, url('—Pngtree—wafager\ food\ nutrition\ diet_6403881\ 1.svg') no-repeat, url('textura-de-papel-bege-velho-com-mancha-de-cafe-fundo-amassado-cenario-de-superficie-vintage-grunge-marrom_113767-3357.jpg') no-repeat;
    background-size: auto, auto, cover;
    background-position: top right, bottom left;
    height: 100vh;
}

ul {
    list-style: circle;
}
  h1, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
  }
  /* HEADER */
  header {
    padding: 32px 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
  }

  header,
  section {
    max-width: 300px;
    margin: 0 auto;
  }

  header h1 {
    margin-bottom: 4px;
    color: #000000;
  }
  
  header span {
    color: #583306;
  }
  
  /* SECTION */
  section {
    margin-bottom: 24px;
  }
  
  section h2 {
    background-color:#583306;
    color: #88735D;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
  }
  
  /* LISTA */
  ul li {
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details {
    max-width: 240px;
  }
  
  .details h3 {
    margin-bottom: 8px;
  }
  
  section h2 {
    background-color: #40280D;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .description {
    color: #583306;
    font-weight: 400;
    font-family: sans-serif;
  }
