@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    color: #7b4306;
    background-color: #4E4B48;
    font-family: roboto; 
}

ul {
    list-style: circle;
}
  
  /* HEADER */
  header {
    padding: 32px 0;
    text-align: center; 
  }
  
  header,
  section {
    max-width: 300px;
    margin: 0 auto;
  }
  .emcima {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
  }

  header h1 {
    margin-bottom: 4px;
    color: #88735D;
  }
  
  header span {
    color: #995000;
  }
  
  /* SECTION */
  section {
    margin-bottom: 24px;
  }
  
  section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
  }
  
  /* LISTA */
  ul li {
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details {
    max-width: 240px;
  }
  
  .details h3 {
    margin-bottom: 8px;
  }
  
  section h4 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;

    margin-bottom: 24px;
  }
